<header>
    <app-header></app-header>
</header>
<div class="row" id="body-row" style="height: 97vh; max-height: 100vh;overflow: auto;">
    <div class="col" style="overflow: auto;">
        <div class="row">
            <!-- <div class="col-12" style="margin-top: 300px;margin-bottom: 20px;"> -->
            <div class="col-12" style="margin-top: 58px;margin-bottom: 150px;">
                <!-- <img src="assets/img/slides/Banner18.png" alt="" width="100%" height="100%"> -->
                
            </div>
        </div>
<h3 style="text-align: center;">publish works!</h3>
    </div>
    </div>
<footer>
    <footer></footer>
</footer>