<header>
    <app-header></app-header>
</header>
<!-- <section id="featured">
        <div class="container">
            <div id="main-slider" style="margin-top: 25px;">
                <img src="assets/img/slides/1.jpg" alt="" width="100%">
                <div class="flex-caption">
                    <h3>Tool Overview</h3>
                    <div></div>
                    <p> Comparision of damage mechanism </p>
                </div>
            </div>
        </div>
    </section> -->

    <div class="row backgroundImage" id="body-row" style="height: 97vh; max-height: 100vh;overflow: auto;">
        <div class="col" style="overflow: auto;">
            <!-- <div class="row"> -->
                <!-- <div class="col-12" style="margin-top: 300px;margin-bottom: 20px;"> -->
                <div class="col-12" style="margin-top: 5%;
                margin-bottom: 1%;
                text-align: center;
                font-style: italic;
                background-color: brown;" >
                    Videos
                </div>
            <!-- </div> -->
    <!-- <h3 style="text-align: center;">news works!</h3> -->
    <!-- <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY"> -->
        <div class="row" style="padding-left: 5%;">
       <iframe class="col-sm-3" style="padding: 0%;" width="100%" height="345" src="https://www.youtube.com/embed/CQP_QGRYA9Q" allowfullscreen> </iframe>
       <div class="col-sm-1"></div>
      <!-- <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://drive.google.com/file/d/1k6TX1_-pXF8n0om_1yHfGtL22WPcKX1U/preview" allowfullscreen> </iframe> -->
      <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/ENcVz35paSU" allowfullscreen> </iframe>
      <div class="col-sm-1"></div>
      <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/Q-QYqDYLAKs" allowfullscreen> </iframe>
      </div>

      <!-- <div class="row" style="padding-left: 5%;">
        <iframe class="col-sm-3" style="padding: 0%;" width="100%" height="345" src="https://www.youtube.com/embed/TeJ214D_5_4" allowfullscreen> </iframe>
        <div class="col-sm-1"></div>
       <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/J_ENwmDWHBw" allowfullscreen> </iframe>
       <div class="col-sm-1"></div>
       <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/2BP6mKGLp-g" allowfullscreen> </iframe>
       </div> -->

      <div class="col-12" style="margin-top: 5%;
      margin-bottom: 1%;
      text-align: center;
      font-style: italic;
      background-color: brown;" >
          Movies & Songs
      </div>

      <div class="row" style="padding-left: 5%;">
        <iframe class="col-sm-3" style="padding: 0%;" width="100%" height="345" src="https://www.youtube.com/embed/cT2ARIGGurE" allowfullscreen> </iframe>
        <div class="col-sm-1"></div>
        <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/L5Q3SBCyYe8" allowfullscreen> </iframe>

        <div class="col-sm-1"></div>
       <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/TIQ5hrfermg" allowfullscreen> </iframe>
    </div>
     
    <!-- 
            <iframe width="420" height="345" src=" https://www.youtube.com/embed/watch?v=8h29dkazulc"></iframe>    -->
    
        </div>
        </div>
<!-- 
<div class="row" id="body-row" style="height: 97vh; max-height: 100vh;overflow: auto;">
    <div class="col" style="overflow: auto;">
        <div class="row">
            <div class="col-12" style="margin-top: 58px;margin-bottom: 150px;">
                
            </div>
        </div>
        <div class="container mb-5">
            <div class="card-deck">
                <div class="card dashboard-card" style="max-width: 25em;height:270px;"
                    [routerLink]="['/app-blogs']">
                    <div class="box">
                        <div class="box-gray aligncenter ">
                            <h4 style="margin-bottom: 20px;">Blogs</h4>
                            <div class="icon">
                                <i class="fa fa-desktop fa-5x dashboard-widget-margin" ></i>
                            </div>
                            <p class="widget-box ">
                               
                            </p>

                        </div>
                        <div class="dashboardLink1"> <span class="fa fa-play faa-horizontal"></span> Click to launch
                        </div>
                        <div class="box-bottom">
                             Watch latest blogs...
                        </div>
                    </div>
                </div>
                <div class="card dashboard-card" style="max-width: 100%;height:270px;"
                    [routerLink]="['/app-news']">
                    <div class="box">
                        <div class="box-gray1 aligncenter">
                            <h4 style="margin-bottom: 20px;">News</h4>
                            <div class="icon">
                                <i class="fa fa-list-alt fa-5x dashboard-widget-margin"></i>
                            </div>
                            <p class="widget-box ">
                               
                            </p>

                        </div>
                        <div class="dashboardLink1"> <span class="fa fa-play faa-horizontal"></span> Click to launch
                        </div>
                        <div class="box-bottom">
                           Watch latest news...
                        </div>
                    </div>
                </div>
                <div class="card dashboard-card" style="max-width: 25em;height:270px;"
                [routerLink]="['/app-publish']">
                <div class="box">
                    <div class="box-gray1 aligncenter">
                        <h4 style="margin-bottom: 20px;">Publish</h4>
                        <div class="icon">
                            <i class="fa fa-list-alt fa-5x dashboard-widget-margin"></i>
                        </div>
                        <p class="widget-box ">
                           
                        </p>

                    </div>
                    <div class="dashboardLink1"> <span class="fa fa-play faa-horizontal"></span> Click to launch
                    </div>
                    <div class="box-bottom">
                       Publish your blogs and News...
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->
<footer>
    <footer></footer>
</footer>