<header>
    <app-header></app-header>
</header>
<div class="row" id="body-row" style="height: 97vh; max-height: 100vh;overflow: auto;">
    <div class="col" style="overflow: auto;">
        <div class="row">
            <!-- <div class="col-12" style="margin-top: 300px;margin-bottom: 20px;"> -->
            <div class="col-12" style="margin-top: 58px;margin-bottom: 150px;">
                <!-- <img src="assets/img/slides/Banner18.png" alt="" width="100%" height="100%"> -->
                
            </div>
        </div>
<!-- <h3 style="text-align: center;">news works!</h3> -->
<!-- <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY"> -->
    <div class="row" style="padding-left: 5%;">
   <iframe class="col-sm-3" style="padding: 0%;" width="100%" height="345" src="https://www.youtube.com/embed/nyd-xznCpJc" allowfullscreen> </iframe>
   <div class="col-sm-1"></div>
  <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/Cy_6-_XUW-c" allowfullscreen> </iframe>
  <div class="col-sm-1"></div>
  <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/911cntbvPBU" allowfullscreen> </iframe>
  </div>
 
<!-- 
        <iframe width="420" height="345" src=" https://www.youtube.com/embed/watch?v=8h29dkazulc"></iframe>    -->

    </div>
    </div>
<footer>
    <footer></footer>
</footer>
